// Mixin for the 3 lines of the box-shadow

@mixin box-shadow {
  -webkit-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
  box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
}

// General padding variable
$padding: 16px;

// Color variables
$text-primary: white;
$text-title: yellow;

$green: green;
$red: red;
$orange: orange;
$black: #000;

body {
  font: 100% "Space Mono", monospace;
  color: $text-primary;
  margin: 0px;
  padding: 0px;
  background-color: $black;
  background-image: radial-gradient(#fff, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(#fff, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(#fff, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-attachment: fixed
}

// Nesting article sections
article {
  display: flex;
  flex-wrap: wrap;


  section {
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px silver solid;
    @include box-shadow; // including box-shadow variable
    padding: $padding; // general padding variable
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
  }

  section#selling-points {
    flex-grow: 2;
    flex-basis: 100%
  }

  code {
    background: $black; // using color variable
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;


      .before {
      float: left;
      width: 40%
    }

      .after {
      float: right;
      width: 40%
    }
  }
}

h1,
h2,
h6 {
  color: $text-title; // using color variable
}

h1 {
  text-align: center
}

h6 {
  text-align: center;
  font-size: 2em;
  padding: ($padding * 2); // general padding two times bigger
  margin-bottom: 0px
}

// Extended messages
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: $text-primary;
  background-color: $black;
  width: 100%
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  background-color: $green;
}

.error {
  @extend %message-shared;
  background-color: $red;
}

.warning {
  @extend %message-shared;
  background-color: $orange;
}